# Eclipse
/bin
/*/bin
**/.settings/*
!**/.settings/org.eclipse.core.resoures.prefs
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.pde.core.prefs

# Eclipse GFM Viewer
*.md.html

# Maven
/target
/*/target

# OSX
.DS_Store

# Vim
*.swo
*.swp
