<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015-2017 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

   <extension-point id="themes" 
   					name="%Themes.extension.name"
					schema="schema/themes.exsd" />
   <extension-point id="snippets" 
   					name="%Snippets.extension.name"
					schema="schema/snippets.exsd" />
					
   <!-- Register default TextMate Themes -->
   <extension
         point="org.eclipse.tm4e.ui.themes">
      <!-- Default theme used for any Eclipse E4 theme  -->
      <theme
            id="org.eclipse.tm4e.ui.themes.SolarizedLight"
      		name="%Theme.SolarizedLight.name"
            path="./themes/Solarized-light.css" >
      </theme>      
      <themeAssociation
            themeId="org.eclipse.tm4e.ui.themes.SolarizedLight"
            default="true" >
      </themeAssociation>
      <!-- Dark theme bound with Eclipse E4 Dark theme -->
      <theme
            id="org.eclipse.tm4e.ui.themes.Dark"
      		name="%Theme.Dark.name"
            path="./themes/Dark.css" >
      </theme>
      <themeAssociation
            themeId="org.eclipse.tm4e.ui.themes.Dark"
            eclipseThemeId="org.eclipse.e4.ui.css.theme.e4_dark"
            default="true" >
      </themeAssociation>
      
      <!-- Other themes -->         
      <theme
            id="org.eclipse.tm4e.ui.themes.Light"
      		name="%Theme.Light.name"
            path="./themes/Light.css" >
      </theme>
      <theme
            id="org.eclipse.tm4e.ui.themes.Monokai"
      		name="%Theme.Monokai.name"
            path="./themes/Monokai.css" >
      </theme>
      <themeAssociation
            themeId="org.eclipse.tm4e.ui.themes.Monokai"
            eclipseThemeId="org.eclipse.e4.ui.css.theme.e4_dark" >
      </themeAssociation>      
   </extension>

   <!-- Preference Pages -->
   <extension
         point="org.eclipse.ui.preferencePages">		      
      <page
            name="%TextMatePreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.TextMatePreferencePage"
            id="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
      <page
            name="%GrammarPreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.GrammarPreferencePage"
            id="org.eclipse.tm4e.internal.ui.GrammarPreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
      <page
            name="%ThemePreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.ThemePreferencePage"
            id="org.eclipse.tm4e.internal.ui.ThemePreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
   </extension>
   
   <!-- Wizards -->
   <extension
      point="org.eclipse.ui.importWizards">
		<category
		   id="org.eclipse.tm4e.ui.wizards"
		   name="%TextMateWizard.category">
		</category>
	 	<wizard
		   id="org.eclipse.tm4e.ui.wizards.TextMateGrammarWizard"
	       name="%TextMateGrammarImportWizard.name"
		   class="org.eclipse.tm4e.ui.internal.wizards.TextMateGrammarImportWizard"
		   category="org.eclipse.tm4e.ui.wizards">
	       <description>%TextMateGrammarImportWizard.desc</description>
		</wizard>
   </extension>

</plugin>
