<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015-2017 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

   <extension-point id="themes" 
                       name="%Themes.extension.name"
                    schema="schema/themes.exsd" />
   <extension-point id="snippets" 
                       name="%Snippets.extension.name"
                    schema="schema/snippets.exsd" />
                    
   <!-- Register default TextMate Themes -->
   <extension
         point="org.eclipse.tm4e.ui.themes">
      <!-- "Light" themes -->
      <theme
            id="org.eclipse.tm4e.ui.themes.SolarizedLight"
              name="%Theme.SolarizedLight.name"
            path="./themes/Solarized-light.css"
            default="true" >
      </theme>
      <theme
            id="org.eclipse.tm4e.ui.themes.Light"
              name="%Theme.Light.name"
            path="./themes/Light.css" >
      </theme>
      <theme
            id="org.eclipse.tm4e.ui.themes.EclipseLight"
            name="%Theme.EclipseLight.name"
            path="./themes/Eclipse-light.css" >
      </theme>   
      <!-- "Dark" themes -->
      <theme
            id="org.eclipse.tm4e.ui.themes.Dark"
              name="%Theme.Dark.name"
            path="./themes/Dark.css"
            dark="true"
            default="true" >
      </theme>         
      <theme
            id="org.eclipse.tm4e.ui.themes.Monokai"
              name="%Theme.Monokai.name"
            path="./themes/Monokai.css"
            dark="true" >
      </theme>
   </extension>

   <!-- Preference Pages -->
   <extension
         point="org.eclipse.ui.preferencePages">              
      <page
            name="%TextMatePreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.TextMatePreferencePage"
            id="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
      <page
            name="%GrammarPreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.GrammarPreferencePage"
            id="org.eclipse.tm4e.ui.preferences.GrammarPreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
      <page
            name="%ThemePreferencePage.name"        
            class="org.eclipse.tm4e.ui.internal.preferences.ThemePreferencePage"
            id="org.eclipse.tm4e.ui.preferences.ThemePreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
   </extension>
   
   <!-- Wizards -->
   <extension
      point="org.eclipse.ui.importWizards">
        <category
           id="org.eclipse.tm4e.ui.wizards"
           name="%TextMateWizard.category">
        </category>
         <wizard
           id="org.eclipse.tm4e.ui.wizards.TextMateGrammarWizard"
           name="%TextMateGrammarImportWizard.name"
           class="org.eclipse.tm4e.ui.internal.wizards.TextMateGrammarImportWizard"
           category="org.eclipse.tm4e.ui.wizards">
           <description>%TextMateGrammarImportWizard.desc</description>
        </wizard>
   </extension>

   <!-- Property tester contributions -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tm4e.ui.internal.TMPropertyTester"
            id="org.eclipse.tm4e.ui.TMPropertyTester"
            namespace="org.eclipse.tm4e.ui"
            properties="canSupportTextMate"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   
   <!-- Contextual Menu -->
   <extension
          point="org.eclipse.ui.menus">
      <!-- Editor "TextMate" contribution -->
      <menuContribution allPopups="true" 
                          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.tm4e.ui.internal.menus.Theme"
               label="%menu.textmate.theme.label" >
             <separator name="additions" visible="false"/>
             <dynamic
                   class="org.eclipse.tm4e.ui.internal.menus.ThemeContribution"
                   id="org.eclipse.tm4e.ui.menus.ThemeContribution">                   
                <visibleWhen
                      checkEnabled="false">
                            <and>
                            <with
                              variable="activePart">
                                   <instanceof
                                  value="org.eclipse.ui.IEditorPart">
                                 </instanceof>
                            </with>
                           <with
                              variable="activePart">
                                  <adapt type="org.eclipse.ui.IEditorPart">
                                       <test property="org.eclipse.tm4e.ui.canSupportTextMate">
                                      </test>
                                  </adapt>
                              </with>
                          </and>
                </visibleWhen>
                 </dynamic>
         </menu>
      </menuContribution>
   </extension>

   <!-- By default GenericEditor uses TextMate presentation reconciler -->
   <extension
          point="org.eclipse.ui.genericeditor.presentationReconcilers">
       <presentationReconciler
             class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
             contentType="org.eclipse.core.runtime.text">
       </presentationReconciler>
   </extension>

</plugin>
