<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="css"
            id="org.eclipse.tm4e.samples.css"
            name="CSS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="org.eclipse.tm4e.samples.json"
            name="JSON"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cs"
            id="org.eclipse.tm4e.samples.csharp"
            name="C#"
            priority="normal">
      </content-type>
   </extension>

   <!-- TextMate Themes -->
   <!--<extension
         point="org.eclipse.tm4e.ui.themes">
      <themeContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.css"
            themeId="org.eclipse.tm4e.ui.themes.SolarizedLight">
      </themeContentTypeBinding>
      <themeContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.php"
            themeId="org.eclipse.tm4e.ui.themes.SolarizedLight">
      </themeContentTypeBinding>
      <themeContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.html"
            themeId="org.eclipse.tm4e.ui.themes.SolarizedLight">
      </themeContentTypeBinding>
      <themeContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.freemarker"
            themeId="org.eclipse.tm4e.ui.themes.SolarizedLight">
      </themeContentTypeBinding>                              
   </extension>
  	-->
  	
   <!-- Register C#, JSON, CSS TextMate grammars -->
   <extension
         point="org.eclipse.tm4e.core.grammars">
      <grammar
      		scopeName="source.cs"
            path="./syntaxes/csharp.json" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.csharp"
            scopeName="source.cs">
      </scopeNameContentTypeBinding>

      <grammar
      		scopeName="source.json"
            path="./syntaxes/JSON.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.json"
            scopeName="source.json">
      </scopeNameContentTypeBinding>
      
      <grammar
      		scopeName="source.css"
            path="./syntaxes/css.plist" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.css"
            scopeName="source.css">
      </scopeNameContentTypeBinding>
                  
   </extension>
    	   
   <!-- C#, JSON, CSS GenericEditor uses TextMate presentation reconcilier -->
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.csharp">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.json">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.css">
      </presentationReconciler>      
   </extension>
  
   <!-- TypeScript Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TypeScript Editor"
            extensions="ts"
            icon="icons/ts.png"
            class="org.eclipse.tm4e.samples.typescript.TypeScriptEditor"
            id="org.eclipse.tm4e.samples.typescript.TypeScriptEditor">
      </editor>
   </extension>

	<!-- JSX Editor -->   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JSX Editor"
            extensions="jsx,tsx"
            icon="icons/jsx.png"
            class="org.eclipse.tm4e.samples.typescript.JSXEditor"
            id="org.eclipse.tm4e.samples.typescript.JSXEditor">
      </editor>
   </extension>

	<!-- HTML Editor -->
	
	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html"
            id="org.eclipse.tm4e.samples.html"
            name="HTML"
            priority="normal">
      </content-type>
	</extension>  
   <extension
         point="org.eclipse.tm4e.core.grammars">
      <grammar
      		scopeName="text.html.basic"
            path="./syntaxes/html.json" >
      </grammar>
      <grammar
      		scopeName="source.js"
            path="./syntaxes/JavaScript.tmLanguage.json" >
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.html"
            scopeName="text.html.basic">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.samples.html">
      </presentationReconciler>
   </extension>
   	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="HTML Editor"
            icon="icons/html.png"
            class="org.eclipse.tm4e.samples.html.HTMLEditor"
            id="org.eclipse.tm4e.samples.html.HTMLEditor">
            <contentTypeBinding
                  contentTypeId="org.eclipse.tm4e.samples.html">
            </contentTypeBinding>
      </editor>
   </extension>

	<!-- Freemarker Editor -->
	
	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="ftl"
            id="org.eclipse.tm4e.samples.freemarker"
            name="Freemarker"
            priority="normal">
      </content-type>
	</extension>  
   <extension
         point="org.eclipse.tm4e.core.grammars">
      <grammar
      		scopeName="text.html.ftl"
            path="./syntaxes/ftl.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.freemarker"
            scopeName="text.html.ftl">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.samples.freemarker">
      </presentationReconciler>
   </extension>
   	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Freemarker Editor"
            icon="icons/freemarker.png"
            class="org.eclipse.tm4e.samples.freemarker.FreemarkerEditor"
            id="org.eclipse.tm4e.samples.freemarker.FreemarkerEditor">
            <contentTypeBinding
                  contentTypeId="org.eclipse.tm4e.samples.freemarker">
            </contentTypeBinding>
      </editor>
   </extension>

	<!-- PHP Editor -->
	
	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="php"
            id="org.eclipse.tm4e.samples.php"
            name="PHP"
            priority="normal">
      </content-type>
	</extension>
	   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.samples.php">
      </presentationReconciler>
   </extension>

   <extension
         point="org.eclipse.tm4e.core.grammars">
      <grammar
      		scopeName="text.html.php"
            path="./syntaxes/php.tmLanguage.json" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.php"
            scopeName="text.html.php">
      </scopeNameContentTypeBinding>
   </extension>
   	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PHP Editor"
            icon="icons/php.png"
            class="org.eclipse.tm4e.samples.php.PHPEditor"
            id="org.eclipse.tm4e.samples.php.PHPEditor">
            <contentTypeBinding
                  contentTypeId="org.eclipse.tm4e.samples.php">
            </contentTypeBinding>
      </editor>
   </extension>

   <!-- Angular2 Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Angular2 Editor"
            extensions="ts"
            icon="icons/ts.png"
            class="org.eclipse.tm4e.samples.angular2.Angular2Editor"
            id="org.eclipse.tm4e.samples.angular2.Angular2Editor">
      </editor>
   </extension>
   
	<!-- YAML Editor -->
	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="yaml"
            id="org.eclipse.tm4e.samples.yaml"
            name="YAML"
            priority="normal">
      </content-type>
	</extension>  
   <extension
         point="org.eclipse.tm4e.core.grammars">
      <grammar
      		scopeName="source.yaml"
            path="./syntaxes/YAML.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.samples.yaml"
            scopeName="source.yaml">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.samples.yaml">
      </presentationReconciler>
   </extension>
   	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="YAML Editor"
            icon="icons/yaml.png"
            class="org.eclipse.tm4e.samples.yaml.YAMLEditor"
            id="org.eclipse.tm4e.samples.yaml.YAMLEditor">
            <contentTypeBinding
                  contentTypeId="org.eclipse.tm4e.samples.yaml">
            </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.samples.html">
      </presentationReconciler>
   </extension>
               
</plugin>
