<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015-2017 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

   <extension-point id="languageConfigurations" 
   					name="%LanguageConfigurations.extension.name"
					schema="schema/languageConfigurations.exsd" />
					   					
   <!-- Preference Pages -->
   <extension
         point="org.eclipse.ui.preferencePages">              
      <page
            name="%LanguageConfigurationPage.name"        
            class="org.eclipse.tm4e.languageconfiguration.internal.preferences.LanguageConfigurationPreferencePage"
            id="org.eclipse.tm4e.languageconfiguration.preferences.LanguageConfigurationPreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
   </extension>
  
  <!-- Generic Editor auto edit stragies for language configuration --> 
  <extension
	      point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
          class="org.eclipse.tm4e.languageconfiguration.LanguageConfigurationAutoEditStrategy"
          contentType="org.eclipse.core.runtime.text">
      </autoEditStrategy>
  </extension>

  <!-- Matching brackets based on language configuration -->
  <extension
        point="org.eclipse.ui.genericeditor.characterPairMatchers">
     <characterPairMatcher
           class="org.eclipse.tm4e.languageconfiguration.LanguageConfigurationCharacterPairMatcher"
           contentType="org.eclipse.core.runtime.text">
     </characterPairMatcher>
  </extension>

  <extension
        point="org.eclipse.e4.ui.css.swt.theme">
     <stylesheet
           uri="resources/css/dark.css">
        <themeid
              refid="org.eclipse.e4.ui.css.theme.e4_dark">
        </themeid>
     </stylesheet>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.tm4e.languageconfiguration.togglelinecommentcommand"
           contextId="org.eclipse.ui.textEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="Ctrl+/">
     </key>
     <key
           commandId="org.eclipse.tm4e.languageconfiguration.toggleblockcommentcommand"
           contextId="org.eclipse.ui.textEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="Shift+Ctrl+/">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.eclipse.tm4e.languageconfiguration.category"
           name="%LangaugeConfiguration.category.name">
     </category>
     <command
           categoryId="org.eclipse.tm4e.languageconfiguration.category"
           id="org.eclipse.tm4e.languageconfiguration.togglelinecommentcommand"
           name="%LanguageConfiguration.toggleLineComment.name">
     </command>
     <command
           categoryId="org.eclipse.tm4e.languageconfiguration.category"
           id="org.eclipse.tm4e.languageconfiguration.toggleblockcommentcommand"
           name="%LanguageConfiguration.toggleBlockComment.name">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.tm4e.languageconfiguration.ToggleLineCommentHandler"
           commandId="org.eclipse.tm4e.languageconfiguration.togglelinecommentcommand">
        <enabledWhen>
           <with
                 variable="activeEditor">
              <test
                    property="org.eclipse.tm4e.languageconfiguration.hasLanguageConfiguration"
                    forcePluginActivation="true">
              </test>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.tm4e.languageconfiguration.ToggleLineCommentHandler"
           commandId="org.eclipse.tm4e.languageconfiguration.toggleblockcommentcommand">
        <enabledWhen>
           <with
                 variable="activeEditor">
              <test
                    property="org.eclipse.tm4e.languageconfiguration.hasLanguageConfiguration"
                    forcePluginActivation="true">
              </test>
           </with>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.tm4e.languageconfiguration.HasLanguageConfigurationPropertyTester"
           id="org.eclipse.tm4e.languageconfiguration.hasLanguageConfigurationPropertyTester"
           namespace="org.eclipse.tm4e.languageconfiguration"
           properties="hasLanguageConfiguration"
           type="java.lang.Object">
     </propertyTester>
  </extension>

  <!-- // START Remove  when https://git.eclipse.org/r/#/c/127756/ will be merged -->
    <extension
        point="org.eclipse.ui.genericeditor.highlightReconcilers">
     <highlightReconciler
           class="org.eclipse.tm4e.languageconfiguration.LanguageConfigurationBracketMatchingReconciler"
           contentType="org.eclipse.core.runtime.text">
     </highlightReconciler>
  </extension>
  <extension
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           name="org.eclipse.tm4e.languageconfiguration.bracketmatching">
     </type>
  </extension>
  <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
           annotationType="org.eclipse.tm4e.languageconfiguration.bracketmatching"
           label="Matching Pair"
			textPreferenceKey="TM4EMatchingPair" textPreferenceValue="false"
			highlightPreferenceKey="TM4EMatchingPairHighlighting"
			highlightPreferenceValue="true" contributesToHeader="false"
			overviewRulerPreferenceKey="TM4EMatchingPairInOverviewRuler"
			overviewRulerPreferenceValue="true"
			verticalRulerPreferenceKey="TM4EMatchingPairInVerticalRuler"
			verticalRulerPreferenceValue="false" colorPreferenceKey="TM4EMatchingPairColor"
			colorPreferenceValue="212,212,212" presentationLayer="4"
			showInNextPrevDropdownToolbarAction="true"
			textStylePreferenceKey="TM4EMatchingPairTextStyle"
			textStylePreferenceValue="NONE"
           includeOnPreferencePage="true">
     </specification>
  </extension>
  <!-- // END Remove  when https://git.eclipse.org/r/#/c/127756/ will be merged -->
</plugin>
