<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015-2017 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

   <extension-point id="languageConfigurations" 
   					name="%LanguageConfigurations.extension.name"
					schema="schema/languageConfigurations.exsd" />
					   					
   <!-- Preference Pages -->
   <extension
         point="org.eclipse.ui.preferencePages">              
      <page
            name="%LanguageConfigurationPage.name"        
            class="org.eclipse.tm4e.languageconfiguration.internal.preferences.LanguageConfigurationPreferencePage"
            id="org.eclipse.tm4e.languageconfiguration.preferences.LanguageConfigurationPreferencePage"
            category="org.eclipse.tm4e.ui.preferences.TextMatePreferencePage">
      </page>
   </extension>
  
  <!-- Generic Editor auto edit stragies for language configuration --> 
  <extension
	      point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
          class="org.eclipse.tm4e.languageconfiguration.LanguageConfigurationAutoEditStrategy"
          contentType="org.eclipse.core.runtime.text">
      </autoEditStrategy>
  </extension>
	
</plugin>
