<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Register TextMate Themes -->
   <extension
         point="org.eclipse.language.textmate.eclipse.themes">
      <theme
            id="org.eclipse.language.textmate.eclipse.themes.Light"
      		name="Light"
            path="./themes/Light.css" >
      </theme>
      <theme
            id="org.eclipse.language.textmate.eclipse.themes.SolarizedLight"
      		name="Solarized Light"
            path="./themes/Solarized-light.css" >
      </theme>
      
      <!-- Use SolarizedLight theme for CSS -->
      <themeContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.css"
            themeId="org.eclipse.language.textmate.eclipse.themes.SolarizedLight">
      </themeContentTypeBinding>
            
   </extension>
  
   <!-- Register C#, JSON, CSS TextMate grammars -->
   <extension
         point="org.eclipse.language.textmate.eclipse.grammars">
      <grammar
      		scopeName="source.cs"
            path="./syntaxes/csharp.json" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.csharp"
            scopeName="source.cs">
      </scopeNameContentTypeBinding>

      <grammar
      		scopeName="source.json"
            path="./syntaxes/JSON.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.json"
            scopeName="source.json">
      </scopeNameContentTypeBinding>
      
      <grammar
      		scopeName="source.css"
            path="./syntaxes/css.plist" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.css"
            scopeName="source.css">
      </scopeNameContentTypeBinding>
                  
   </extension>
    	   
   <!-- C#, JSON, CSS GenericEditor uses TextMate presentation reconcilier -->
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.language.textmate.eclipse.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.csharp">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.language.textmate.eclipse.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.json">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.language.textmate.eclipse.text.TMPresentationReconciler"
            contentType="org.eclipse.languageserver.languages.css">
      </presentationReconciler>      
   </extension>
  
   <!-- TypeScript Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TypeScript Editor"
            extensions="ts"
            icon="icons/ts.png"
            class="org.eclipse.language.textmate.eclipse.samples.typescript.TypeScriptEditor"
            id="org.eclipse.language.textmate.eclipse.samples.typescript.TypeScriptEditor">
      </editor>
   </extension>

	<!-- JSX Editor -->   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JSX Editor"
            extensions="jsx,tsx"
            icon="icons/jsx.png"
            class="org.eclipse.language.textmate.eclipse.samples.typescript.JSXEditor"
            id="org.eclipse.language.textmate.eclipse.samples.typescript.JSXEditor">
      </editor>
   </extension>
   
</plugin>
