<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammars/TypeScript.tmLanguage.json"
            scopeName="source.ts">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.tm4e.ui.tests.testContentType"
            scopeName="source.ts">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="ts"
            id="org.eclipse.tm4e.ui.tests.testContentType"
            name="Test Content Type for TM4E (typescipt)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.tm4e.ui.tests.testContentType"
            file-names="child.ts"
            id="org.eclipse.tm4e.ui.tests.testContentType.child"
            name="Child of test content-type"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.tm4e.ui.tests.testContentType">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.tm4e.ui.snippets">
      <snippet
            name="org.eclipse.tm4e.ui.tests.snippet1"
            path="grammars/snippet.ts"
            scopeName="source.ts">
      </snippet>
   </extension>

</plugin>
